.body-page {
    margin: 0;
}
.header {
    padding-top: 32px;
    padding-bottom: 32px;
}
.container-header {
    margin-left: auto;
    margin-right: auto;
    width:620px
}
.navigation {
    display: inline-block;
    vertical-align: middle;
}
.menu-item {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
}
.menu-link {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.5px;
    color: #FF0000;
    text-decoration-line: none;
}
.container-main {
    text-align: center;
}
.picture {
    width:100%;
}
.main-text {
    margin-top: 48px;
    margin-bottom: 38px;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 3.3px;
    color: #373737;
}
.paragraph {
    max-width: 1145px;
    font-size: 16px;
    font-weight:400;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 28px;
}
.button {
    width: 191px;
    margin: 66px auto 59px auto;
    display: block;
    background-color: #FF0000;
    color:white;
    text-decoration-line: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 17px;
    border-radius: 4px;
}
.footer-paragraph {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
    margin-right: 105px;
}



